/* HOME INTRO */

.home-main {
  margin-top: 8rem;
}

.home-component {
  height: 93.5vh;
  position: relative;
}

.home-sub {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 16rem;
  align-items: center;
}

.introduction {
  /* background-color: #fff; */
  /* color: #000; */
  margin-top: 15rem;
  margin-bottom: 20rem;
  margin-right: 0.5rem;
}

.introduction h1 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-align: center;
}

.introduction p {
  font-size: 1.7rem;
  display: inline-block;
}

/* PROFILE LINKS */
.profile-links {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  font-size: 2rem;
  width: 100%;
}

.pr-mailic,
.pr-linkedinic,
.pr-gitic {
  background-color: #fff;
  opacity: 100%;
  transition: all 0.33s;
  display: flex;
  align-items: center;
  box-shadow: 0.1px 0.1px 3px rgb(65, 176, 255);
  height: 3.2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.33s ease-out;
}

.pro-logo-linkedin {
  width: 10rem;
  object-fit: contain;
}

.pro-logo {
  width: 2.5rem;
  object-fit: contain;
}

.pr-namelogo {
  width: 7rem;
}

.pr-mailic:hover,
.pr-linkedinic:hover,
.pr-gitic:hover {
  box-shadow: 0.5px 0.5px 10px rgb(65, 176, 255);
}

.intro-img {
  margin-bottom: 20rem;
  min-width: 35rem;
  height: 45rem;
  background-image: url('/images/home-bg-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow: hidden;
}

.down-icon {
  position: absolute;
  left: 49.3%;
  bottom: 5%;
  z-index: 997;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.down-anim {
  border: none;
  font-size: 2rem;
  background-color: inherit;
  color: inherit;
  /* transform: translateY(70%); */
}

.down-anim:hover {
  cursor: pointer;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(-160%);
  }
  40% {
    -webkit-transform: translateY(-120%);
  }
  60% {
    -webkit-transform: translateY(-120%);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(-150%);
  }
  40% {
    -moz-transform: translateY(-120%);
  }
  60% {
    -moz-transform: translateY(-120%);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  40% {
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  60% {
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
  }
}

/* HOME ABOUT SECTION */

/* HOME PROJECT SECTION */

/* Adding the links for social */

/* LOGOS and their links */
.hm-links {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 5rem;
  gap: 5rem;
}

.hm-linkedinic {
}

.hm-gitic {
}

.hm-mailic {
  font-size: 4rem;
}

.hm-log {
  height: 4rem;
  opacity: 100%;
}

.hm-log:hover {
  opacity: 90%;
}
