.navbar-main {
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  height: 5.7rem;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  transition: all 0.33s ease-in-out;
  opacity: 0;
  /* transition: transform 0.33s ease-in-out; */
}

.navbar-dark {
  background-color: #111111ef;
  box-shadow: 0 1px 10px rgba(85, 85, 85, 0.565);
}

.shownav {
  transition: all 0.33s;
  opacity: 1;
  transform: translateY(0);
}

.hidenav {
  /* transform: translateY(-100%); */
}

.trigger:hover + .navbar,
.navbar:hover {
  opacity: 1;
  /* transform: translateY(0); */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 45%;
  padding: 2rem;
}

.nav li a {
  font-size: 1.6rem;
  font-weight: 600;
  /* color: #fff; */
  transition: all 0.33s;
  /* border-radius: 10px; */
}

.nav li a:hover {
  /* box-shadow: 0.5px 0.5px 5px #aaa, -0.5px -0.5px 5px; */
  /* transform: translateX(100%); */
  color: #cf6202;
}
.nav li a.active {
  /* padding: 0.5rem 2rem; */
  color: #cf6202;
  cursor: pointer;
}

.navlink-dark {
  color: #fff;
  /* background-color: #111; */
}

/* Mobile Nav */

.mobile-nav {
  display: none;
}

.mobile-nav > .nav-moverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.mobile-nav > .nav-open,
.mobile-nav > .nav-close {
  border: none;
  /* background-color: #cf6202; */
  color: #000;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  font-size: 4rem;
  margin: 2rem;
  transition: all 0.33s;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 5px;
  background-color: transparent;
}

.mobile-nav .nav-open-dark {
  color: #fff;
}

.mobile-nav > .nav-open:hover,
.mobile-nav > .nav-close:hover {
  cursor: pointer;
}

.m-nav {
  box-shadow: 1px 1px 5px #aaa;
  background-color: rgba(255, 255, 255, 0.97);
  width: 40rem;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}

.open-mnav {
  opacity: 98%;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.m-nav-dark {
  background-color: #111;
  color: #fff;
}

.m-nav-dark .m-navlink {
  color: #fff;
}

.m-nav li a {
  font-size: 3rem;
  font-weight: 600;
  transition: all 0.33s;
}

.m-nav li a:hover {
  color: #cf6202;
}

.m-nav li a.active {
  color: #cf6202;
  cursor: pointer;
}

/* Dark and Light theme */

.light-dark-theme {
  position: absolute;
  top: 25%;
  right: 10%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: all 0.01s ease;
  transition: transform 0.33s ease; /* Smooth transition */
}

.theme-light,
.theme-dark {
  font-size: 2.5rem;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: rgb(255, 102, 0);
}

.theme-light {
  color: rgb(255, 102, 0);
}

/* Mobile nav theme */
.m-light-dark-theme {
  border: none;
  cursor: pointer;
  background-color: inherit;
  transition: all 0.01s ease;
  transition: transform 0.33s ease;
}

.m-theme-light,
.m-theme-dark {
  font-size: 5rem;
}

/* Fixing */

.theme-dark {
  color: #fff; /* Dark theme icon color */
}

.theme-rotate {
  transform: rotate(180deg); /* Rotates the icon */
}
