.project-dtl-main {
  min-height: 80vh;
  position: relative;
  padding-top: 8rem;
}

.pdtl-component {
  width: 80%;
  margin: 5rem auto;
}

.pdtl {
  margin-bottom: 1rem;
}

.pdtl h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.pdtl .pdesc {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pdtl .pdetail {
  font-size: 2rem;
}

.project-video {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 10rem 5rem;
  box-shadow: 0.1px 0.1px 1px #555;
  height: 340px !important;
  width: 560px !important;
  overflow: hidden;
}

.pdtl-btn {
  position: absolute;
  bottom: 0;
}
