.projects-loading {
  margin: 10rem auto;
}

.projecthome-component {
  margin: 2rem 15rem;
}

.projecthome-component > h2 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.projecthome-elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  box-shadow: 0.5px 0.5px 5px #aaa;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.projecthome-elements::-webkit-scrollbar {
  display: none;
}

.projecthome {
  flex: 0 0 auto;
  display: flex;
  height: 25rem;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  transition: all 1s;
  overflow: hidden;
  scroll-snap-align: start;
}

.projecthome-splitbtn {
  display: flex;
}

.projecthome-img img {
  height: 100%;
  width: 25rem;
  object-fit: cover;
  border-radius: 10px;
}

.projecthome-img img:hover {
}

.projecthome-overview {
  margin: 2rem;
}

.projecthome-info {
}

.projecthome-name {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.projecthome-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
}

.projecthome-lang {
}

.projecthome-lang,
.projecthome-tools {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.phome-lang,
.phome-tool {
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  color: white;
  text-transform: capitalize;
}

.phome-lang:before {
  background-color: red;
}

.projecthome-tools {
  margin-bottom: 2rem;
}

.phome-tool {
  /* background-color: #000 ; */
}

.projecthome-details {
  align-self: center;
}

.detailshome-btn {
  height: 4rem;
  width: 10rem;
  margin-right: 2rem;
  background-color: rgb(0, 68, 128);
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Outside of project component */
.projecthome-component .reviewhome {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  transition: all 0.5s;
}

.no-btn:hover {
  transform: scale(1.2);
  color: #0091ff;
  transition: transform 0.2s, color 0.2s;
}

.pn-btn,
.disable {
  background-color: #fff;
  color: #000;
}

.pn-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  transition: all 0.33s;
  box-shadow: 0.1px 0.1px 10px #aaa;
}

.pn-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 25px rgb(0, 145, 255);
}

.disable {
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  opacity: 50%;
}
