.social-main {
}

.social-component .badge-base {
  margin: 5rem 0rem 0 0rem;
  display: block;
  width: 34rem;
  height: 40rem;
  justify-content: center;
  overflow: visible;
}

.linkedin-main {
  margin: auto;
}

.social-component {
  width: 100%;
  width: auto; /* Adjust width as needed */
  height: auto; /* Let height adjust dynamically */
  display: block;
  /* Ensure badge content is not clipped */
}

.social-component {
  display: flex;
  justify-content: center;
  align-items: center;
}
